# ðŸ“˜ BTC Dataset Analysis using Pandas

This notebook contains initial data analysis using the Pandas library.  
Make sure the file `btc_15m_data_2018_to_2025.csv` is in the same directory.

In [5]:
# Importing pandas
import pandas as pd

In [6]:
# Load the dataset
df = pd.read_csv("btc_15m_data_2018_to_2025.csv")

In [7]:
# Display the first 5 rows
print("First 5 rows:")
df.head()

First 5 rows:

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2018-01-01 00:00:00,13715.65,13715.65,13400.01,13556.15,123.616013,2018-01-01 00:14:59.999,1.675545e+06,1572,63.227133,8.576108e+05,0
1,2018-01-01 00:15:00,13533.75,13550.87,13402.00,13521.12,98.136430,2018-01-01 00:29:59.999,1.321757e+06,1461,47.686389,6.422812e+05,0
2,2018-01-01 00:30:00,13500.00,13545.37,13450.00,13470.41,79.904037,2018-01-01 00:44:59.999,1.078825e+06,1000,43.710406,5.900347e+05,0
3,2018-01-01 00:45:00,13494.65,13690.87,13450.00,13529.01,141.699719,2018-01-01 00:59:59.999,1.917783e+06,1195,73.897993,1.000614e+06,0
4,2018-01-01 01:00:00,13528.99,13571.74,13402.28,13445.63,72.537533,2018-01-01 01:14:59.999,9.778198e+05,898,34.257652,4.618369e+05,0

In [8]:
# Dataset structure
print("\nInfo:")
df.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251565 entries, 0 to 251564
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Open time                     251565 non-null  object
 1   Open                          251565 non-null  float64
 2   High                          251565 non-null  float64
 3   Low                           251565 non-null  float64
 4   Close                         251565 non-null  float64
 5   Volume                        251565 non-null  float64
 6   Close time                    251565 non-null  object
 7   Quote asset volume            251565 non-null  float64
 8   Number of trades              251565 non-null  int64
 9   Taker buy base asset volume   251565 non-null  float64
 10  Taker buy quote asset volume  251565 non-null  float64
 11  Ignore                        251565 non-null  int64
dtypes: float64(8), int64(2), object(2)
memory usage: 23.0+ MB

In [9]:
# Shape of the dataset
print("\nShape:")
print(df.shape)

Shape:
(251565, 12)

In [10]:
# Summary statistics
print("\nSummary Statistics:")
df.describe()

Summary Statistics:

,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
count,251565.000000,251565.000000,251565.000000,251565.000000,251565.000000,2.515650e+05,251565.000000,251565.000000,2.515650e+05,251565.0
mean,29871.550310,29937.515454,29803.018597,29871.809704,735.271512,1.918369e+07,18657.011468,365.416109,9.493153e+06,0.0
std,24435.713547,24483.846788,24385.681744,24435.899559,1126.132082,2.939558e+07,27629.645293,561.784989,1.472444e+07,0.0
min,3166.110000,3174.780000,3156.260000,3167.070000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.0
25%,9124.480000,9141.860000,9105.000000,9124.620000,217.743913,3.265220e+06,3948.000000,107.485850,1.602818e+06,0.0
50%,23091.650000,23137.800000,23045.000000,23091.410000,385.069770,9.248147e+06,9031.000000,192.079039,4.449522e+06,0.0
75%,44164.460000,44261.500000,44065.430000,44164.290000,763.098920,2.360040e+07,20570.000000,380.316571,1.164327e+07,0.0
max,108975.430000,109588.000000,108185.270000,108975.420000,40371.405060,8.961201e+08,606234.000000,19925.616600,5.619115e+08,0.0

In [11]:
# Checking for missing values
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
Open time                       0
Open                            0
High                            0
Low                             0
Close                           0
Volume                          0
Close time                      0
Quote asset volume              0
Number of trades                0
Taker buy base asset volume     0
Taker buy quote asset volume    0
Ignore                          0
dtype: int64

In [12]:
#Check Duplicate values
df.duplicated().sum()

0

In [13]:
# Checking column names
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time',
       'Quote asset volume', 'Number of trades', 'Taker buy base asset volume',
       'Taker buy quote asset volume', 'Ignore'],
      dtype='object')

In [14]:
# Data types of each column
print("\nData Types:")
print(df.dtypes)

Data Types:
Open time                        object
Open                            float64
High                            float64
Low                             float64
Close                           float64
Volume                          float64
Close time                       object
Quote asset volume              float64
Number of trades                  int64
Taker buy base asset volume     float64
Taker buy quote asset volume    float64
Ignore                            int64
dtype: object

In [15]:
# Count unique values in each column
print("\nUnique Value Counts:")
print(df.nunique())

Unique Value Counts:
Open time                       251565
Open                            234323
High                            210668
Low                             212588
Close                           233317
Volume                          251458
Close time                      251565
Quote asset volume              251552
Number of trades                 60651
Taker buy base asset volume     251338
Taker buy quote asset volume    251552
Ignore                               1
dtype: int64